{% extends "layout.html" %} {% set active_page = "aboutben" %} {% block content
%}

<!-- Main Content -->
<div class="col-md-9 col-lg-10 main-content">
    <div class="container">
        <img src="/static/aboutme.jpeg" class="img-fluid" height="" />
        <p>A big picture means a big story right? Well... you'd be right!</p>
        <p>I pinky promise that I did not write any of this with any AI</p>
        <p>
            So about me...... Well, I graduated from Dublin City
            University(DCU), as part of their Computer Applications and Software
            Engineering program. A challenging yet rewarding venture.
        </p>
        <p>
            During those university years I managed to squeeze in an Ambassador
            role for a Dublin & Ugandan based charity named Nurture Africe. This
            was by far the most life changing thing I have done thus far, mainly
            because I got to spend 3 weeks in Nansana, Uganda. Sampling a life I
            never really thought existed and being shown what true poverty means
            for so many around the world. I have many stories of this first trip
            that are best reserved for pints during pub visits.
        </p>
        <p>
            And yes, I did say first trip because I went back to Uganda with
            Nurture Africa but not under an Ambassador role, but as an IT
            professional. Now, before we go any further, I didn't go through 6
            years in DCU to be called an IT professional but it best suits what
            I was doing in Uganda the second time. I helped put together a
            course that taught students how to use Word, Excel and Powerpoint to
            strengthen their employment prospects. I felt a huge full circle
            moment when I walked into the very room I helped construct 6 years
            previously. If you would like to see some of the other work Nurture
            Africa does, which includes: Community HIV testing and treatment,
            primary school education help and much much more, you can visit
            <a href="https://nurtureafrica.ie/" target="_blank"
                >Nurture Africa website</a
            >
        </p>
        <p>
            Next I'll talk a little about my football coaching "career". I
            started coaching when I was 16 with my father, helping out with his
            under 14 team. I very soon after got my first 2 coaching badges and
            the bug had very deeply rooted. Over 10 years later, I am still
            coaching. Having coached from grassroots clubs to Univerity teams to
            Underage county squads and back to a grassroots club, and from ages
            6 to adult senior teams, my experience and time served has been
            long, invaluable and helped me in more ways than one. Again, I have
            many stories that I reserve over a pint or coffee, this is merely a
            synopsis of my journey.
        </p>
        <p>
            I will leave the gory details of my professional career for the
            career page.
            <a href="/career.html">Click here to visit my career page</a>
        </p>
    </div>
</div>
{% endblock %}
