{% extends "layout.html" %}
{% set active_page = "career" %}
{% block content %}

<!-- Main Content -->
<div class="col-md-9 col-lg-10 main-content">
    <div class="container">
        <img src="/static/mycareer.jpeg" class="img-fluid" style="text-align: center;"/>
        <p>
            Wit say I, grit say others, luck most will say.
        </p>
        <br>
        <h3>
            The Highlights: TLDR
        </h3>
        <ul class="list-group list-group-numbered">
            <li class="list-group-item" style="background-color: black;color: white;border: none;">Gorey Community School</li>
            <li class="list-group-item" style="background-color: black;color: white;border: none;">Dublin City University</li>
            <li class="list-group-item" style="background-color: black;color: white;border: none;">Browserstack</li>
            <li class="list-group-item" style="background-color: black;color: white;border: none;">IBM</li>
        </ul>
        <br>
        <p>
            Still want me to tell you how I ended up in IBM? Alright, you'll absolutely need that tea or coffee I offered earlier!
        </p>
    </div>
</div>
{% endblock %}
