{% extends "layout.html" %} {% set active_page = "findme" %} {% block content %}

<!-- Main Content -->
<div class="col-md-9 col-lg-10 main-content">
    <div class="container">
        <img src="/static/aiFindMeBanner.jpeg" class="img-fluid" height="" />
        <p>If you're looking to contact me, you've come to the right place!</p>
        <p>
            You can reach me via email at
            <a href="mailto:benthedev@outlook.com">benthedev@outlook.com</a>
        </p>
        <p>
            through my LinkedIn profile at
            <a href="https://www.linkedin.com/in/ben-clarke-ie/">LinkedIn</a>
        </p>
        <p>
            and you can see the projects I start on
            <a href="https://github.com/benji2512">GitHub</a>
        </p>
    </div>
</div>
{% endblock %}
