{% extends "layout.html" %}
{% set active_page = "index" %}
{% block content %}

<!-- Main Content -->
<div class="col-md-9 col-lg-10 main-content">
    <div class="container">
        <!-- <h1>Benjiman Clarke | Software Developer</h1> -->
        <img src="/static/banner1.jpeg" class="img-fluid" style="padding-top: 2vh; padding-bottom: 2vh;"/>
        <p>
            Welcome, welcome, welcome. Come in out of the rain. Do you want a cup of tea or coffee?
        </p>
        <p>
            You might need it, you could be here a while!
        </p>
        <br>
        <p>
            Feel free to peruse around this website and learn more about me, both as a professional and person. I have everything laid out for you, no matter your medium.
        </p>
        <br>
        <p>
            You can use the navigation bar to the left, or straight up if you are on a small screened device, to wander around and gain the knowledge you do or don't desire. 
        </p>
        <br>
        <p>
            I do hope you enjoy your visit and gain a little something you might not know about me. As we say in Ireland
        </p>
        <p>
            Go raibh míle maith agat agus slán go fóill!
        </p>
    </div>
</div>
{% endblock %}
