{% extends "layout.html" %}
{% set active_page = "projects" %}
{% block content %}

<!-- Main Content -->
<div class="col-md-9 col-lg-10 main-content">
    <div class="container">
        <img src="/static/projects.jpeg" class="img-fluid" />
        <p>
            They might not be finished, but they are projects nonetheless!
        </p>
        <p>
            This page won't really have a story involved but serve more as a gallery for past and present, possibly even future, projects of mine.
        </p>
        <p>
            So enjoy your gawking but don't stare at them too long, you might find yourself involved.
        </p>
    </div>
</div>
{% endblock %}
