{% extends "layout.html" %}
{% set active_page = "projects" %}
{% set page_title = "Projects | Benjiman Clarke" %}
{% set og_title = "Projects | Benjiman Clarke" %}
{% set og_description = "Check out my side projects and experiments." %}
{% set og_type = "website" %}
{% block content %}
<div class="container">
    <img src="/static/projects.jpeg" class="img-fluid" loading="lazy" />
    <p>
        They might not be finished, but they are projects nonetheless!
    </p>
    <p>
        This page won't really have a story involved but serve more as a gallery for past and present, possibly even future, projects of mine.
    </p>
    <p>
        So enjoy your gawking but don't stare at them too long, you might find yourself involved.
    </p>
</div>
{% endblock %}
